.mainBox{
    height: 100vh;
    overflow: auto;
}
.box {
    display: flex;
}

.player {
    margin-top: 60px;
    max-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    border-bottom: 1px solid gray;
}

.video {
    width: 100%;
    background-color: black;
}

.Sidenav {
    position: absolute;
    z-index: 10;
}
.Sidenav2{
    display: none;
}

.videoDetails {
    padding: 15px;
    display: flex;
    gap: 20px;
}

.videoDet {
    width: 70%;
    border-radius: 10px;
}
.icon {
    height: 45px;
    width: 45px;
    min-width: 45px;
    overflow: hidden;
    border: 1px solid gray;
    flex-shrink: 0;
    /* background-color: brown; */
    border-radius: 100%;
}
.title {
    font-size: 23px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.similarVideo {
    width: 30%;
    /* background-color: rgb(160, 154, 154); */
    border-radius: 10px;
    padding: 5px;
}

.videoStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.channelDetail{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.channel {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    /* border: 2px solid white; */
}


.name {
    font-size: 18px;
    font-weight: 700;
    text-wrap: nowrap;
}

.subs {
    font-size: 14px;
}

.subscribe,
.likeDislike,
.share {
    width: fit-content;
    background-color: rgb(38, 38, 38);
    text-align: center;
    align-content: center;
    border-radius: 25px;
    font-size: 17px;
    overflow: hidden;
    text-wrap: nowrap;
    padding: 10px 15px;
    min-width: fit-content;
    height: 40px;
    
}
.share{
    padding: 10px 0px;
    /* color: white; */
}
.share > span {
    padding: 10px 15px;
    width: 100%;
    height: 100%;
}
.share span:hover {
    background-color: rgb(102, 102, 102);
    color: white;
}
.likeDislike {
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like,.dislike {
    width: 100%;
    padding: 10px 15px;
}

.like:hover {
    background-color: rgb(95, 95, 95);
    color: white;
}
.dislike:hover {
    background-color: rgb(95, 95, 95);
    color: white;
}

.status2 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.status {
    /* width: 100%; */
    display: flex;
    gap: 10px;
    align-items: center;
    /* border: 2px solid white; */
    overflow: auto;
    scrollbar-width: none;
}

.like {
    border-right: 1px solid rgb(73, 73, 73);
}
.selected{
    font-size: 22px;
}
.descript{
    background-color: rgb(36, 38, 38);
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    
}
.descLine{
    min-height: 16px;
}
.comment{
    padding: 20px 0px;
}
@media screen and (max-width:830px) {
    .videoDetails {
        flex-direction: column;
    }

    .videoDet {
        width: 100%;
    }
    .similarVideo{
        width: 100%;
    }
}

@media screen and (max-width:750px) {
    .player {
        margin-top: 0;
    }

    .title {
        font-size: 20px;
    }

    .videoDetails{
        margin-bottom: 50px;
    }

    .Sidenav2{
        display: block;
        z-index: 10;
    }

    .channel{
        width: 100%;
        flex-wrap: wrap;
    }
    .status2 {
        gap: 10px;
        align-items: center;
        justify-content:left;
        width: fit-content;
    }

    .icon {
        height: 40px;
        width: 40px;
        min-width: 40px;
        border-radius: 100%;
    }

    /* .name {
        font-size: 16px;
        
    }

    .subs {
        font-size: 13px;
    }
    

    .subscribe,
    .likeDislike,
    .share {
        font-size: 14px;
        padding: 7px 14px;
        height: 36px;
    }

    .selected{
        font-size: 18px;
    }
    .share{
        padding: 7px 0px;
    }
    .share > span{
        padding: 7px 14px;
    }
    .likeDislike {
        padding: 0;
    }

    .like {
        width: 100%;
        padding: 7px 14px;
    }
    .dislike {
        width: 100%;
        padding: 7px 14px;
    } */
}
