.singleVid {
    background-color: rgb(0, 0, 0);
    width: 16%;
    cursor: pointer;
    padding-bottom: 5px;
    border-radius: 15px;
    position: relative;
}
.singleVid2 {
    background-color: rgb(0, 0, 0);
    width: 16%;
    cursor: pointer;
    padding-bottom: 5px;
    border-radius: 15px;
    position: relative;
}
.singleVid3 {
    background-color: rgb(0, 0, 0);
    width: 16%;
    cursor: pointer;
    padding-bottom: 5px;
    border-radius: 15px;
    position: relative;
}
.singleVid4 {
    background-color: rgb(0, 0, 0);
    width: 16.1%;
    cursor: pointer;
    padding-bottom: 5px;
    border-radius: 15px;
    position: relative;
}
.singleVid5 {
    background-color: rgb(0, 0, 0);
    width: 16.1%;
    cursor: pointer;
    padding-bottom: 5px;
    border-radius: 15px;
    position: relative;
}
.videoCont{
    position: relative;
}
.thumbnail {
    /* height: 13vw; */
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    /* width: 100%; */
    aspect-ratio: 9/16;
    text-align: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    transition: 1s;
}
.thumbnail2 {
    /* height: 13vw; */
    background-color: rgb(34, 34, 34);
    border-radius: 0px;
    /* width: 100%; */
    aspect-ratio: 9/16;
    text-align: center;
    align-content: center;
    overflow: hidden;
    position: absolute;
    transition: 1s;
    top: 0;
    transition: 500ms;
    opacity: 0;
}
.singleVid:hover .thumbnail2 {
    transition-delay: 500ms;
    opacity: 1;
    border-radius: 0px;
}
.singleVid2:hover .thumbnail2 {
    transition-delay: 500ms;
    opacity: 1;
    border-radius: 0px;
}
.singleVid3:hover .thumbnail2 {
    transition-delay: 500ms;
    opacity: 1;
    border-radius: 0px;
}
.singleVid4:hover .thumbnail2 {
    transition-delay: 500ms;
    opacity: 1;
    border-radius: 0px;
}
.singleVid5:hover .thumbnail2 {
    transition-delay: 500ms;
    opacity: 1;
    border-radius: 0px;
}
.touchBtn{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    /* background-color: rgb(44, 46, 46); */
}

.mouseBtn{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    /* background-color: aqua; */
}
.volume{
    position: absolute;
    top: 0.3vw;
    right: 0.3vw;
    background-color: rgb(0, 0, 0, 0.7);
    width: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 100%;
    flex-shrink: 0;
    opacity: 0;
}
.singleVid:hover .volume {
    transition-delay: 500ms;
    opacity: 0.7;
}
.singleVid2:hover .volume {
    transition-delay: 500ms;
    opacity: 0.7;
}
.singleVid3:hover .volume {
    transition-delay: 500ms;
    opacity: 0.7;
}
.singleVid4:hover .volume {
    transition-delay: 500ms;
    opacity: 0.7;
}
.singleVid5:hover .volume {
    transition-delay: 500ms;
    opacity: 0.7;
}
.volume svg{
    width: 55%;
}
.duration{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: fit-content;
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 13px;
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.range{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 13px;
    background-color: red;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: linear;
}
.videoDetail {
    display: flex;
    margin-top: 0.7vw;
    gap: 0.7vw;
    color: white;
    /* border: 1px solid white; */
}

.videoDetail .details {
    /* width: calc(100% - 3.6vw); */
    width: calc(100%);
    position: relative;
    /* border: 1px solid white; */
}

.icon {
    height: 3vw;
    min-height: 3vw;
    width: 3vw;
    min-width: 3vw;
    border: 1px solid gray;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.title {
    font-size: 1.1vw;
    /* border: 1px solid white; */
    max-width: 100%;
    font-weight: 800;
    /* max-height: 2.8vw; */
    margin-top: 0.2vw;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.channel {
    font-size: 0.9vw;
    width: 100%;
    margin-top: 0.3vw;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.channel .channelNames{
    width: 100%;
    overflow: hidden;
    /* border: 1px solid white; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.extraOp{
    /* border: 1px solid white; */
    position: absolute;
    height: 2vw;
    font-size: 1vw;
    top: 0.3vw;
    /* align-content: center; */
    right: 0px;
    width: 2vw;
    text-align: right;
    box-shadow: black;
    display: none;
    color: red;
}
.singleVid:hover .extraOp{
    display: block;
}
.singleVid2:hover .extraOp{
    display: block;
}
.singleVid3:hover .extraOp{
    display: block;
}
.singleVid4:hover .extraOp{
    display: block;
}
.singleVid5:hover .extraOp{
    display: block;
}
@media screen and (max-width:1100px) {
    .singleVid2{
        display: none;
    }
    .singleVid {
        width: 19.5%;
    }
    .singleVid3 {
        width: 19.5%;
    }
    .singleVid4 {
        width: 19.5%;
    }
    .singleVid5 {
        width: 19.5%;
    }
    .videoDetail .details {
        /* width: calc(100% - 4.6vw); */
    }
    .icon {
        height: 3.8vw;
        min-height: 3.8vw;
        width: 3.8vw;
        min-width: 3.8vw;
    }

    .title {
        font-size: 1.5vw;
        /* border: 1px solid white; */
        font-weight: 800;
        /* height: 3.5vw; */
        /* max-height: 3.7vw; */
    }

    .channel {
        font-size: 1.3vw;
    }
    .extraOp{
        height: 2.5vw;
        font-size: 1.5vw;
        width: 2.5vw;
    }
    .volume{
        top: 0.5vw;
        right: 0.5vw;
        width: 3.3vw;
    }
}
@media screen and (max-width:850px) {
    .singleVid3{
        display: none;
    }
    .singleVid {
        width: 24.5%;
    }
    .singleVid4 {
        width: 24.5%;
    }
    .singleVid5 {
        width: 24.5%;
    }
    .videoDetail .details {
        /* width: calc(100% - 4.7vw); */
    }
    .icon {
        height: 4.2vw;
        min-height: 4.2vw;
        width: 4.2vw;
        min-width: 4.2vw;
    }

    .title {
        font-size: 1.7vw;
        font-weight: 800;
        /* max-height: 3.7vw; */
    }

    .channel {
        font-size: 1.5vw;
    }
    .extraOp{
        height: 3.5vw;
        font-size: 2vw;
        width: 3.5vw;
    }
    .volume{
        top: 0.7vw;
        right: 0.7vw;
        width: 4.5vw;
    }
}
@media screen and (max-width:750px) {
    .touchBtn{
        display: block;
        /* background-color: antiquewhite; */
    }
    .mouseBtn{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .singleVid4{
        display: none;
    }
    .singleVid {
        width: 32.5%;
    }
    .singleVid5 {
        width: 32.5%;
    }
    .videoDetail .details {
        /* width: calc(100% - 6vw); */
    }
    .icon {
        height: 5.5vw;
        min-height: 5.5vw;
        width: 5.5vw;
        min-width: 5.5vw;
    }

    .title {
        font-size: 2.1vw;
        font-weight: 800;
        /* max-height: 3.7vw; */
    }

    .channel {
        font-size: 1.9vw;
    }
    .extraOp{
        height: 3.8vw;
        font-size: 2.2vw;
        width: 3.8vw;
    }
    .volume{
        top: 0.9vw;
        right: 0.9vw;
        width: 5.5vw;
    }
}
@media screen and (max-width:450px) {
    .singleVid5{
        display: none;
    }
    .singleVid {
        width: 49%;
    }
    .videoDetail .details {
        /* width: calc(100% - 9vw); */
    }
    .icon {
        height: 8.7vw;
        min-height: 8.7vw;
        width: 8.7vw;
        min-width: 8.7vw;
    }

    .title {
        font-size: 3.5vw;
        font-weight: 800;
        /* max-height: 3.7vw; */
    }

    .channel {
        font-size: 3vw;
    }
    .extraOp{
        height: 6vw;
        font-size: 4vw;
        width: 6vw;
    }
    .volume{
        top: 1vw;
        right: 1vw;
        width: 8vw;
    }
}