.bigBox{
    height: 100dvh;
    position: fixed;
    width: 100%;
}
.mainLogo{
    position: fixed;
    z-index: 20;
    top: 10px;
    left: 10px;
    display: none;
}
.logoDetail{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.main{
    display: flex;
    height: 100%;
}
.box{
    padding: 10px;
    padding-top: 60px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid rgb(255, 255, 255); */
}
.videoBox{
    /* background-color: aqua; */
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100%;
    height:100%;
    min-height: 100%;
    margin: auto;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    text-align: center;
}
.card{
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100%;
    display: flex;
    align-items: end;
    height: 100%;
    min-height: 100%;
    margin-bottom: 10px;
    justify-content:center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    /* gap: 0; */
}
.video{
    /* border: 1px solid rgb(255, 255, 255); */
    max-width: 420px;
    /* max-width: 35%; */
    padding: 0;
    height: 100%;
    min-height: 100%;
    /* margin: auto; */
    border-radius: 10px;
    /* background-color: antiquewhite; */
}
.span{
    height: 100%;
    position: relative;
    /* border: 1px solid rgb(255, 255, 255); */
}
.details{
    height: fit-content;
    right: 0%;
    width:80px;
    min-width: 50px;
    /* position: absolute; */
    /* border: 1px solid rgb(255, 255, 255); */
    /* background-color: rgb(0, 136, 255); */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.details > div{
    /* width: auto; */
    align-content: center;
    text-align: center;
    font-size: 12px;
    /* opacity: 0.5 */
    /* color: white; */
}
.span1{
    background-color: rgb(38, 38, 38);
    /* max-width: 50px;
    max-height: 50px; */
    min-height: 50px;
    min-width: 50px;
    margin-bottom: 5px;
    border-radius: 100%;
    align-content: center;
    text-align: center;
    overflow: hidden;
    /* opacity: 1; */
}
.span2{
    background-color: rgb(38, 38, 38);
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    margin-bottom: 5px;
    border-radius: 8px;
    overflow: hidden;
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    border: 1px solid gray;
    
}

.channelIcon{
    height: 50px;
}
.span2 img{
    /* width: 100%;
    height: 100%; */
}
.details .first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.span1 i{
    font-size: 20px;
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    align-content: center;
    text-align: center;
    /* opacity: 30; */
}
.span1 i:hover{
    background-color: rgb(95, 95, 95);
    color: white;
}
.shortsDet{
    position: absolute;
    width: 100%;
    bottom: 75px;
}
.shortsTitle{
    text-align: start;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 0 15px;
    margin-top: 10px;
    font-weight: 500;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.name{
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 0px 10px;
    gap: 10px;
}
.username{
    max-width: 190px;
    text-align: start;
    /* border: 1px solid rgb(255, 255, 255); */
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.icon{
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 100%;
    border: 1px solid gray;
    overflow: hidden;
    flex-shrink: 0;
}
.subs{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 12px;
    /* height: 30px; */
    margin-left: 10px;
    width: auto;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 700;
}
.selected i{
    font-size: 25px;
}
.comments{
    width: 0px;
    min-width: 0px;
    background-color: rgb(69, 69, 69);
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.comments2{
    width: 420px;
    /* min-width: 420px; */
    background-color: rgb(69, 69, 69);
    height: 100%;
    margin-left: 5px;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}
.cross{
    display: none;
}
.loading{
    height: 100%;
    top: 0;
    /* color: rgb(228, 25, 25); */
    width: 100%;
    position: absolute;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-stop:always;
    /* border: 2px solid white; */
}
.loadingBar{
    border: 5px solid rgb(255, 255, 255);
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-top: none;
    border-bottom: none;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 0.5s;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
@media screen and (max-width:1180px) {
    .comments{
        width: 0px;
        min-width: 0px;
        background-color: rgb(69, 69, 69);
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        /* transition: 0.5s; */
        position: absolute;
    }
    .comments2{
        position: absolute;
        width: 420px;
        /* min-width: 420px; */
        background-color: rgb(69, 69, 69);
        height: 100%;
        border-radius: 10px;
        /* padding: 20px 10px; */
        /* transition: 0.5s; */
        z-index: 20;
        margin-left: 0px;
    }
    .cross{
        display: block;
        height: 40px;
        width: 40px;
        min-width: 40px;
        align-content: center;
        text-align: center;
        border-radius: 100%;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .cross:hover{
        background-color: #696969;
    }
}
@media screen and (max-width:750px) {
    .nav{
        display: none;
    }
    .sidenav{
        display: none;
    }
    .mainLogo{
        display: block;
    }
    .box{
        padding: 0;
    }
    .card{
        margin-bottom: 0px;
    }
    .videoBox{
        /* background-color: aqua; */
        /* border: 1px solid rgb(255, 255, 255); */
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    .video{
        border-radius: 0px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        /* min-height: 100%; */
    }
}


@media screen and (max-width:550px) {
    .box{
        padding: 0;
    }
    .card{
        margin-bottom: 0px;
    }
    .videoBox{
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    .video{
        border-radius: 0px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        /* min-height: 100%; */
    }
    .username{
        font-size: 3.5vw;
    }
    .icon{
        height: 10vw;
        width: 10vw;
        min-width: 8vw;
        border-radius: 100%;
    }
    .subs{
        font-size: 3vw;
        margin-left: 2vw;
        padding: 2.5vw 4vw;
        font-weight: 700;
    }
    .comments2{
        border-radius: 0px;
        width:100%;
        padding: 10px;
        margin-left: 0px;
    }
    .details{
        right: 0%;
        bottom: 75px;
        position: absolute;
        z-index: 10;
        width: 15vw;
        /* border: 1px solid rgb(255, 255, 255); */
        padding: 0;
        gap: 4vw;
    }
    .details div{
        width: auto;
        align-content: center;
        text-align: center;
        font-size: 2.5vw;
    }
    .span1{
        background-color: rgb(38, 38, 38, 0.5);
        width: 12vw;
        height: 12vw;
        max-width: 12vw;
        max-height: 12vw;
        min-height: 35px;
        min-width: 35px;
        margin-bottom: 1vw;
    }
    .span2{
        background-color: rgb(38, 38, 38);
        width: 12vw;
        height: 12vw;
        max-width: 12vw;
        max-height: 12vw;
        min-height: 12vw;
        min-width: 12vw;
        margin-bottom: 1vw;
        border-radius: 2vw;
        opacity: 0.7;
    }
    .channelIcon{
        height: 12vw;
    }
    .span1 i{
        font-size: 5vw;
        width: 12vw;
        height: 12vw;
        max-width: 12vw;
        max-height: 12vw;
        min-height: 35px;
        min-width: 35px;
    }
    
    .selected i{
        font-size: 6.5vw;
    }
    .name{
        width: calc(100% - 14vw);
        bottom: 75px;
        display: flex;
        align-items: center;
        /* border: 1px solid rgb(255, 255, 255); */
        padding: 0px 10px;
        gap: 2.5vw;
    }
    .shortsTitle{
        width: calc(100% - 15vw);
        font-size: 3.5vw;
    }
}