.uploadVid{
    position: fixed;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 30;
}
.uploadArea{
    position: absolute;
    background-color: rgb(73, 73, 73);
    height: 90vh;
    width: 70vw;
    top: 5vh;
    left: 15vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    z-index: 35;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    font-size: 1.5vw;
    padding: 1vw 2.5vw;
}
.cross{
    height: 3vw;
    width: 3vw;
    align-content: center;
    text-align: center;
    border-radius: 100%;
}
.cross:hover{
    background-color: #696969;
    color: white;
}
.inputDiv{
    height: 100%;
    position: relative;
}
.uploadInp{
    height: 100%;
    width: 100%;
    /* align-content: center; */
    /* color: transparent; */
    /* background-color: blueviolet; */
    opacity: 0;
    cursor: pointer;
}
/* .uploadInp::file-selector-button{
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    font-weight: 900;
    border-radius: 40px;
    position: absolute;
    top: 60%;
    display: none;
} */

.uploadLogo{
    position: absolute;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

.uploadLogo div{
    text-align: center;
    margin: auto;
    font-size: 1vw;
}
.uploadLogo div div{
    text-align: center;
    margin: auto;
    margin-bottom: 2vw;
    font-size: 1vw;
}
.uploadLogo .logo{
    background-color: rgb(0, 0, 0);
    height: 15vw;
    width: 15vw;
    font-size: 6vw;
    border-radius: 100%;
    align-content: center;
}
.uploadBtn{
    height: 3vw;
    width: 8vw;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 10vw;
}
@media screen and (max-width:750px) {
    .uploadArea{
        height: 90vh;
        width: 90vw;
        top: 5vh;
        left: 5vw;
    }
    
    .options{
        font-size: 3vw;
        padding: 1vw 2.5vw;
    }
    .cross{
        height: 6vw;
        width: 6vw;
        font-size: 2.5vw;
    }
    .uploadLogo{
        padding: 1vw;
        padding-bottom: 0;
    }
    
    .uploadLogo > div{
        text-align: center;
        margin: auto;
        font-size: 1.5vw;
    }
    .uploadLogo > div > div{
        text-align: center;
        margin: auto;
        margin-bottom: 2vw;
        font-size: 2vw;
    }
    .uploadLogo .logo{
        height: 25vw;
        width: 25vw;
        font-size: 9vw;
    }
    .uploadBtn{
        height: 4vw;
        width: 11vw;
        font-size: 1.5vw;
    }
}

@media screen and (max-width:450px) {
    .uploadArea{
        height: 130vw;
        width: 98vw;
        top: 50%;
        left: 1vw;
        transform: translateY(-50%);
    }
    
    .options{
        font-size: 4vw;
        padding: 2vw 3vw;
    }
    .cross{
        height: 9vw;
        width: 9vw;
        font-size: 3.5vw;
    }
    .uploadLogo{
        padding: 2vw;
        padding-bottom: 0;
    }
    
    .uploadLogo > div{
        font-size: 2vw;
    }
    .uploadLogo > div > div{
        font-size: 2.5vw;
    }
    .uploadLogo .logo{
        height: 40vw;
        width: 40vw;
        font-size: 10vw;
    }
    .uploadBtn{
        height: 6vw;
        width: 18vw;
        font-size: 2vw;
    }
}

