.mainBox{
    height: 100vh;
    overflow: auto;
}
.bigBox{
    display: flex;
    /* height: 100%; */
}
.videos{
    /* border: 2px solid white; */
    margin-top: 60px;
    width: 100%;
    padding: 10px;
    /* height: 100%; */
    /* padding-right: 5px; */
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 1vw;
    row-gap: 1.5vw;
    overflow:   auto;
    /* justify-content:space-between; */
    /* padding-bottom: 50px; */
}
.singleVid{
    background-color: rgb(0, 0, 0);
    width: 24%;
    /* max-width: 32%; */
    /* padding: 0.5%; */
    border-radius: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    border-radius: 15px;
}
.thumbnail{
    height: 12.5vw;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    width: 100%;
    text-align: center;
    align-content: center;
    overflow: hidden;
}
.videoDetail{
    display: flex;
    margin-top: 0.7vw;
    gap: 1vw;
    color: white;
}
.icon{
    height: 3vw;
    min-height: 3vw;
    width: 3vw;
    min-width: 3vw;
    background-color: azure;
    border-radius: 100%;
    overflow: hidden;
}
.title{
    font-size: 1.1vw;
    /* border: 1px solid white; */
    font-weight: 800;
    max-height: 2.6vw;
    margin-top: 0.2vw;
    overflow: hidden;
}
.channel{
    font-size: 0.9vw;
    max-height: 2.2vw;
    overflow: hidden;
    /* border: 1px solid white; */
}
.bottomNav{
    display: none;
}
@media screen and (max-width:1100px) {
    .singleVid{
        width: 32.5%;
    }
    .thumbnail{
        height: 16.5vw;
    }
    .icon{
        height: 4vw;
        min-height: 4vw;
        width: 4vw;
        min-width: 4vw;
    }
    .title{
        font-size: 1.5vw;
        /* border: 1px solid white; */
        font-weight: 800;
        /* height: 3.5vw; */
        max-height: 3.7vw;
    }
    .channel{
        font-size: 1.3vw;
        max-height: 3.2vw;
        overflow: hidden;
        /* border: 1px solid white; */
    }
}
@media screen and (max-width:750px) {
    .Sidenav{
        display: none;
    }
    .videos{
        margin-top: 0;
        row-gap: 2vw;
        margin-bottom: 50px;
    }
    .videoDetail{
        gap: 2vw;
    }
    .singleVid{
        width: 49%;
    }
    .thumbnail{
        height: 25vw;
    }
    .icon{
        height: 5.5vw;
        min-height: 5.5vw;
        width: 5.5vw;
        min-width: 5.5vw;
    }
    .title{
        font-size: 2vw;
        /* border: 1px solid white; */
        font-weight: 800;
        /* height: 5vw; */
        max-height: 4.9vw;
    }
    .channel{
        font-size: 1.8vw;
        max-height: 4.4vw;
        /* border: 1px solid white; */
        overflow: hidden;
    }
    .bottomNav{
        display: block;
    }
}
@media screen and (max-width:450px) {
    .videos{
        row-gap: 3vw;
        padding: 0;
    }
    .videoDetail{
        gap: 3vw;
        padding: 5px;
    }
    .singleVid{
        width: 100%;
        border-radius: 0px;
    }
    .thumbnail{
        height: 50vw;
        border-radius: 0px;
    }
    .icon{
        height: 10vw;
        min-height: 10vw;
        width: 10vw;
        min-width: 10vw;
    }
    .title{
        font-size: 3.8vw;
        /* border: 1px solid white; */
        font-weight: 800;
        /* height: 3.5vw; */
        max-height: 9vw;
    }
    .channel{
        font-size: 3vw;
        /* height: 7vw; */
        max-height: 7.3vw;
        overflow: hidden;
        /* border: 1px solid white; */
    }
}