.singleVid {
    width: 100%;
    cursor: pointer;
    display: flex;
    gap: 1%;
    /* margin-bottom: 10px; */
    overflow: hidden;
    border-radius: 10px;
}
.small{
    display: none;
    width: 100%;
}
.videoCont{
    position: relative;
    width: 49%;
}
.thumbnail {
    /* height: 13vw; */
    background-color: rgb(34, 34, 34);
    border-radius: 1vw;
    width: 100%;
    aspect-ratio: 16/9;
    text-align: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    transition: 1s;
    flex-shrink: 0;
}
.thumbnail2 {
    /* height: 13vw; */
    background-color: rgb(34, 34, 34);
    border-radius: 0px;
    width: 100%;
    aspect-ratio: 16/9;
    text-align: center;
    align-content: center;
    overflow: hidden;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    transition: 500ms;
    opacity: 0;
}
.singleVid:hover .thumbnail2 {
    transition-delay: 500ms;
    opacity: 1;
    border-radius: 0px;
}
.touchBtn{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    /* background-color: rgb(162, 189, 189); */
}

.mouseBtn{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    /* background-color: aqua; */
}
.singleVid:hover .volume {
    transition-delay: 500ms;
    opacity: 0.7;
}
.volume{
    position: absolute;
    top: 0.3vw;
    right: 0.3vw;
    background-color: rgb(0, 0, 0, 0.7);
    width: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 100%;
    opacity: 0;
}
.volume svg{
    width: 55%;
}
.duration{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: fit-content;
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 13px;
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.range{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 13px;
    background-color: red;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: linear;
}
.videoDetail {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    /* margin-top: 5px; */
    gap: 2%;
    color: white;
    /* border: 1px solid white; */
    width: 50%;
    flex-shrink: 0;
}

.large{
    width: calc(98%);
    /* border: 1px solid white; */
}
.videoIconDet{
    /* border: 1px solid white; */
    display: flex;
    /* align-items: center; */
}

.icon {
    height: 45px;
    min-height: 45px;
    width: 45px;
    min-width: 45px;
    border: 1px solid gray;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}

.title {
    font-size: 1.1vw;
    /* border: 1px solid white; */
    max-width: 100%;
    font-weight: 700;
    /* max-height: 2.8vw; */
    margin-top: 0.2vw;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.channel {
    font-size: 0.9vw;
    /* height: 100%; */
    overflow: hidden;
    margin-top: 0.5vw;
    align-content: center;
    /* border: 1px solid white; */
}
.channelNames{
    margin-bottom: 0.3vw;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    /* border: 1px solid white; */
}
@media screen and (max-width:850px) {
    .singleVid {
        /* gap: 10px; */
    }
    .videoCont{
        position: relative;
        width: 250px;
    }
    .videoDetail {
        width: calc(100% - 260px);
        /* border: 1px solid white; */
    }
    .volume{
        top: 0.8vw;
        right: 0.8vw;
        width: 5vw;
    }
    .touchBtn{
        display: block;
        /* background-color: antiquewhite; */
    }
    .mouseBtn{
        display: none;
    }
    .title {
        font-size: 15px;
        font-weight: 600;
    }
    
    .channel {
        font-size: 14px;
        margin-top: 10px;
    }
    .channelNames{
        margin-bottom: 5px;
    }
}
@media screen and (max-width:650px) {
    .singleVid {
        gap: 2%;
    }
    .videoCont{
        position: relative;
        width: 50%;
    }
    .videoDetail {
        width: calc(100% - 48%);
        /* border: 1px solid white; */
    }
    .volume{
        top: 0.8vw;
        right: 0.8vw;
        width: 5vw;
    }
    .touchBtn{
        display: block;
        /* background-color: antiquewhite; */
    }
    .mouseBtn{
        display: none;
    }
    .title {
        font-size: 2.3vw;
        font-weight: 600;
    }
    
    .channel {
        font-size: 2.1vw;
        margin-top: 1.5vw;
    }
    .channelNames{
        margin-bottom: 1vw;
    }
}
/* @media screen and (max-width:450px) {
    .singleVid {
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin: 0;
    }
    .videoCont{
        position: relative;
        width: 100%;
    }
    .videoIconDet{
        width: 100%;
        margin-top: 2vw;
    }
    .small{
        display: block;
        width: calc(100% - 13vw);
    }
    .icon {
        display: block;
        height: 10vw;
        min-height: 10vw;
        width: 10vw;
        min-width: 10vw;
    }
    .title {
        font-size: 3.8vw;
        font-weight: 800;
        max-height: 9vw;
    }
    .channel {
        font-size: 3vw;
        overflow: hidden;
        margin-top: 0;
    }
    .channelNames{
        font-size: 3.3vw;
    }
    .thumbnail {
        width: 100%;
        border-radius: 0;
    }
    .thumbnail2 {
        width: 100%;
        border-radius: 0;
    }
    .videoIconDet{
        display: flex;
        gap: 2.5vw;
        align-items: start;
    }
    .videoDetail {
        width: calc(100%);
        gap: 0;
        margin-bottom: 5vw;
    }
    .large{
        display: none;
    }
    .volume{
        top: 1vw;
        right: 1vw;
        width: 9vw;
    }
} */