*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  transition: 0.2s;
  scrollbar-width: none;
  
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */
}