.bigBox{
    display: flex;
}
.box{
    margin-top: 50px;
    padding: 10px;
    width: 100%;
}
.searchFor{
    /* padding: 10px; */
    margin-top: 5px;
}
.singleVideo{
    display: flex;
    gap: 10px;
}
.video{
    height: 18vw;
    width: 30vw;
    min-height: 150px;
    min-width:250px;
    background-color: brown;
    margin-top: 10px;
    border-radius: 10px;
}

@media screen and (max-width:750px) {
    .box{
        margin-top: -10px;
    }
}
@media screen and (max-width:450px) {
    .box{
        margin-top: 0px;
        padding: 0px;
    }
    .singleVideo{
        flex-direction: column;
        gap: 0px;
    }
    .video{
        /* height: 100%; */
        width: 100%;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}