.main{
    min-height: 100dvh;
}
.bigBox{
    display: flex;
}
.Sidenav{
    z-index: 20;
}
.box{
    margin-top: 50px;
    padding: 10px;
    width: 100%;
}
.searchFor{
    /* padding: 10px; */
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
    align-content: center;
}
.toggleBtn{
    width: 120px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid white;
    /* align-content: center; */
    padding: 1.5px;
    display: flex;
    margin-top: -4px;
    font-weight: 700;
}
.toggleRoll{
    height: 25px;
    border: 1px solid white;
    width: 25px;
    border-radius: 100px;
    transition: 0.5s;
    align-content: center;
    text-align: center;
    /* rotate: 360deg; */
}
.toggleRoll2{
    height: 25px;
    border: 1px solid white;
    width: 25px;
    font-size: 13px;
    border-radius: 100px;
    transform: translateX(90px);
    transition: 0.5s;
    align-content: center;
    text-align: center;
}
.toggleTitle{
    height: 25px;
    border: 1px solid white;
    width: 85px;
    align-content: center;
    text-align: center;
    border-radius: 100px;
    transition: 0.5s;
    transform: translateX(5px);
}
.toggleTitle2{
    height: 25px;
    border: 1px solid white;
    width: 85px;
    align-content: center;
    text-align: center;
    transform: translateX(-25px);
    border-radius: 100px;
    transition: 0.5s;
}
.mainShorts{
    margin-top: -10px;
    width: 100%;
}
.mainVideo{
    width: 100%;
    margin-top: -15px;

}
.mainShorts2{
    display: none;
}
.mainVideo2{
    display: none;

}
.shortsCard{
    width: 100%;
    /* max-height: 100%; */
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    /* border: 2px solid rgb(255, 255, 255); */
}
.shortsLogo{
    padding: 5px 20px;
    margin-left: 5px;
    margin-top: 5px;
    width: fit-content;
    /* padding-bottom: 10px; */
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    /* background-color: gray; */
    border-radius: 0 20px 0px;
    margin-bottom: 3px;
}



@media screen and (max-width:750px) {
    .box{
        margin-top: -10px;
    }
    /* .searchFor{
        margin-top: 10px;
        display: flex;
        width: 100%;
        gap: 10px;
        margin-bottom: 5px;
    } */
}
@media screen and (max-width:450px) {
    .box{
        margin-top: 0px;
        padding: 0px;
    }
    .singleVideo{
        flex-direction: column;
        gap: 0px;
    }
    .video{
        /* height: 100%; */
        width: 100%;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
}